<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>SuperHeores</title>
    <link rel="stylesheet" href="/addSuperhero.css">
  </head>
  <body>
    <main>
      <section>
        <header>
          <h1>Agregar SuperHeroes</h1>
        </header>
        <form
          action="<%= hero.nombreReal ? `/api/heroes/${hero.id}/editar` : '/api/heroes' %>"
          method="POST"
        >
          <div class="miInput">
            <label for="nombreSuperheroe"> Superheroe </label>
            <input
              type="text"
              required
              id="nombreSuperheroe"
              name="nombreSuperheroe"
              value="<%= hero? hero.nombreSuperheroe : '' %>"
            />
          </div>
          <div class="miInput">
            <label for="nombreReal"> Nombre real </label>
            <input
              type="text"
              required
              name="nombreReal"
              value="<%= hero? hero.nombreReal : '' %>"
            />
          </div>
          <div class="miInput">
            <label for="edad"> Edad </label>
            <input
              type="number"
              required
              name="edad"
              min="0"
              value="<%= hero? hero.edad : '' %>"
            />
          </div>
          <div class="miInput">
            <label for="planetaOrigen"> Planeta de Origen </label>
            <input
              type="text"
              required
              name="planetaOrigen"
              value="<%= hero? hero.planetaOrigen : '' %>"
            />
          </div>

          <div class="miInput">
            <label for="poderes">Poderes </label>
            <input
              type="text"
              required
              name="poderes"
              value="<%= hero? hero.poderes : '' %>"
            />
          </div>
          <div class="miInput">
            <label for="debilidad"> Debilidad </label>
            <input
              type="text"
              required
              name="debilidad"
              value="<%= hero? hero.debilidad : '' %>"
            />
          </div>
          <div class="miInput">
            <label for="aliados"> Aliados</label>
            <input
              type="text"
              required
              name="aliados"
              value="<%= hero? hero.aliados : '' %>"
            />
          </div>

          <div class="miInput">
            <label for="enemigos"> Enemigos </label>
            <input
              type="text"
              required
              name="enemigos"
              value="<%= hero? hero.enemigos : '' %>"
            />
          </div>

          <button type="submit">Cargar Superheroe</button>
        </form>
      </section>
    </main>
  </body>
</html>
